body {
  width: 100vh;
  font-family: monospace;
  display: grid;
  border: 1px solid black;
}

header {
  background-color: #9ffad5;
}

.left {
  background-color: #73ded0;
}
.right {
  background-color: #73f5a2;
}

section {
  background-color: #60b077;
}

footer {
  background-color: #f6fff9;
}